<!DOCTYPE html>
<html>
<title></title> 
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.2.0-dist/css/Homepage.css' %}">
    </head>
<body></body>

<div class="wrapper">
        <div class="logo">
            
            <!-- <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-bird-symbols-png-logo-0.png" alt=""> -->
        </div>
        <div class="text-center mt-4 name">
            SACCO
        </div>
        <form class="p-3 mt-3" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary"> Login </button>
        </form>
        <div class="text-center fs-6">
            <a href="#">Forget password?</a>
        </div>
    </div>
</body>
    </html>