<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.2.0-dist/css/bootstrap.min.css'%}">
	<title></title>
</head>
<body>

	<!-- start of nav -->
		<nav class="navbar navbar-expand-lg bg-light">
		  <div class="container-fluid">
		    <a class="navbar-brand" href="#">SACCO</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarNav" >
		      <ul class="navbar-nav ml-auto" >
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#"></a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#"></a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<!-- end of nav -->
	<div class="container" >
		<h2 class="text-center">Update Record</h2>
		<div class="d-flex justify-content-center">
		<form action="updaterecord/{{ mymember.id }}" method="post" >
		{% csrf_token %}
			<label>First Name:</label><br>
			<input name="firstname" value="{{ mymember.firstname }}" size="80">
		<br><br>
			Middlename:<br>
			<input name="middlename" value="{{ mymember.middlename }}" size="80">
		<br><br>
			Lastname:<br>
			<input name="lastname" value="{{ mymember.lastname }}" size="80">
			<br><br>
			Telephone Number:<br>
			<input name="contact_no" value="{{ mymember.contact_no }}" size="80">
			<br><br>
			Address:<br>
			<input name="address" value="{{ mymember.address }}" size="80">
			<br><br>
			Email:<br>
			<input name="email" value="{{ mymember.email }}" size="80">
			<br><br>
			Guarantor Name:<br>
			<input name="g_name" value="{{ mymember.g_name }}" size="80">
			<br><br>
			Phone Number:<br>
			<input name="phone_number" value="{{ mymember.phone_number }}" size="80">
			<br><br>
			Guarantor address:<br>
			<input name="g_address" value="{{ mymember.g_address }}" size="80">
			<br><br>
			<input type="submit" value="Submit" class="btn btn-primary">
		</form>
		</div>

	</div>

	<script type="text/javascript" src="{% static 'bootstrap-5.2.0-dist/css/bootstrap.min.js'%}"></script>
</body>
</html>